/* global.css */
@tailwind base;
@tailwind components;
/* Add your btn/input/etc components here */
@tailwind utilities;

/* Set font family for the document */
html {
  font-family: 'Raleway', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 600ms;
}
.fade-leave-active {
  position: absolute;
}


.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
